
div#contenedor{
	background-color transparent;
	width: 1300px;
	height: 200px;
	margin: 1210px auto;
}

div#mando{
	background-color: white;
	width: all;
	height: 210px;
	margin: -1200px 70px;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 0px solid #000000;
}






h1{
	color: black;
	font-size: 40px;
	font-family: fantasy;
}
h2{
	color: black;
	font-size: 20px;
	font-family: fantasy;
}
h2:hover{
	color: brown;
}
h3{
	color: #54321E;
	font-size: 32px;
	font-family: fantasy;
}
h4{
	color: #3D3530;
	font-size: 22px;
	font-family: fantasy;
}
h5{
	color: #3D3D3D;
	font-size: 28px;
	font-family: fantasy;
}
h6{
	color: #747474;
	font-size: 16px;
	font-family: fantasy;
}










div#titulo{
	width: auto;
	margin: 1040px 140px;
	background-color: white;
}
div#logo1{
	margin: -1136px 990px;
}
div#principal{
	width: auto;
	margin: 1090px 140px;
	background-color: white;
}
div#menu{
	width: auto;
	margin: -1115px 390px;
	background-color: white;
}
div#galeria{
	width: 100px;
	margin: 1091px 640px;
	background-color: white;
}
div#promociones{
	width: 120px;
	margin: -1114px 840px;
	background-color: white;
}
div#subtitulo{
	width: 900px;
	height: 20px;
	margin: 1190px 140px;
	background-color: transparent;
}
div#sifon{
	width: auto;
	margin: -1150px 150px;
}
div#subtitulo{
	width: 600px;
	height: 50px;
	margin: 1190px 140px;
	background-color: transparent;
}
div#texsifon{
	width: 900px;
	height: 20px;
	margin: 1200px 140px;
	background-color: transparent;
}

div#pie{
	background-color: white;
	width: all;
	height: 170px;
	margin: -940px 70px;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 0px solid #000000;
}
div#red1{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 820px 125px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red1:hover{
	background-color: #3D3530;
}

div#red2{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: -885px 276px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red2:hover{
	background-color: #3D3530;
}

div#red3{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 820px 427px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
	}

div#red3:hover{
	background-color: #3D3530;
}

div#facebook{
	margin: -880px 150px;
}
div#gmail{
	margin: 860px 300px;
}
div#twitter{
	margin: -880px 450px;
}
div#nombre{
	width: 600px;
	height: 20px;
	margin: 800px 600px;
	background-color: transparent;
}
div#direccion{
	width: 600px;
	height: 20px;
	margin: -820px 900px;
	background-color: transparent;
}







div#cafe1{
	margin: 1200px 100px;
}
div#titulocaf1{
	width: 200px;
	height: 20px;
	margin: -1200px 550px;
	background-color: transparent;
}
div#cafe1tex{
	width: 600px;
	height: 20px;
	margin: -1400px 520px;
	background-color: transparent;
}
div#cafe2{
	margin: 1650px 800px;
}
div#titulocaf2{
	width: 200px;
	height: 20px;
	margin: -1900px 150px;
	background-color: transparent;
}
div#cafe2tex{
	width: 600px;
	height: 20px;
	margin: 2000px 150px;
	background-color: transparent;
}
div#com1{
	margin: -1800px 100px;
}
div#titulocom1{
	width: 200px;
	height: 20px;
	margin: 1550px 550px;
	background-color: transparent;
}
div#com1tex{
	width: 600px;
	height: 20px;
	margin: -1500px 550px;
	background-color: transparent;
}
div#com2{
	margin: 1750px 800px;
}
div#titulocom2{
	width: 200px;
	height: 20px;
	margin: -2100px 150px;
	background-color: transparent;
}
div#com2tex{
	width: 600px;
	height: 20px;
	margin: 2200px 150px;
	background-color: transparent;
}
div#com3{
	margin: -1900px 150px;
}
div#titulocom3{
	width: 200px;
	height: 20px;
	margin: 1600px 750px;
	background-color: transparent;
}
div#com3tex{
	width: 600px;
	height: 20px;
	margin: -1500px 570px;
	background-color: transparent;
}
div#com4{
	margin: 1750px 800px;
}
div#titulocom4{
	width: 200px;
	height: 20px;
	margin: -2000px 200px;
	background-color: transparent;
}
div#com4tex{
	width: 600px;
	height: 20px;
	margin: 2100px 170px;
	background-color: transparent;
}

div#pie-2{
	background-color: white;
	width: all;
	height: 170px;
	margin: -1940px 70px;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 0px solid #000000;
}
div#red1-2{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 1820px 125px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red1-2:hover{
	background-color: #3D3530;
}

div#red2-2{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: -1885px 276px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red2-2:hover{
	background-color: #3D3530;
}

div#red3-2{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 1820px 427px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
	}

div#red3-2:hover{
	background-color: #3D3530;
}

div#facebook-2{
	margin: -1880px 150px;
}
div#gmail-2{
	margin: 1860px 300px;
}
div#twitter-2{
	margin: -1880px 450px;
}
div#nombre-2{
	width: 600px;
	height: 20px;
	margin: 1800px 600px;
	background-color: transparent;
}
div#direccion-2{
	width: 600px;
	height: 20px;
	margin: -1820px 900px;
	background-color: transparent;
}







div#tg1{
	margin: -1150px 180px;
	background-color: transparent;
}
div#gale1{
	margin: 1100px 150px;
}
div#tg2{
	margin: -1100px 180px;
	background-color: transparent;
}
div#gale2{
	margin: 1050px 150px;
}
div#tg3{
	margin: -1050px 180px;
	background-color: transparent;
}
div#gale2{
	margin: 1050px 150px;
}
div#pie-3{
	background-color: white;
	width: all;
	height: 170px;
	margin: -940px 70px;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 0px solid #000000;
}
div#red1-3{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 820px 125px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red1-3:hover{
	background-color: #3D3530;
}

div#red2-3{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: -885px 276px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red2-3:hover{
	background-color: #3D3530;
}

div#red3-3{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 820px 427px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
	}

div#red3-3:hover{
	background-color: #3D3530;
}

div#facebook-3{
	margin: -880px 150px;
}
div#gmail-3{
	margin: 860px 300px;
}
div#twitter-3{
	margin: -880px 450px;
}
div#nombre-3{
	width: 600px;
	height: 20px;
	margin: 800px 600px;
	background-color: transparent;
}
div#direccion-3{
	width: 600px;
	height: 20px;
	margin: -820px 900px;
	background-color: transparent;
}







div#promo1cuadro{
	width: 900px;
	height: 300px;
	margin: -1100px 200px;
	background-color: white;	

}

div#promo1cuadro:hover{
	background-color: lightgrey;
}

div#promo1img{
	margin: 837px 760px;
}

div#promo1titulo{
	width: 200px;
	margin: -1037px 330px;
	background-color: transparent;
}

div#promo1des{
	width: 250px;
	margin: 1080px 330px;
	background-color: transparent;
}

div#promo2cuadro{
	width: 900px;
	height: 300px;
	margin: -950px 200px;
	background-color: white;	

}

div#promo2cuadro:hover{
	background-color: lightgrey;
}

div#promo2img{
	margin: 685px 760px;
}

div#promo2titulo{
	width: 200px;
	margin: -900px 330px;
	background-color: transparent;
}

div#promo2des{
	width: 250px;
	margin: 950px 330px;
	background-color: transparent;
}

div#promo3cuadro{
	width: 900px;
	height: 300px;
	margin: -830px 200px;
	background-color: white;	

}

div#promo3cuadro:hover{
	background-color: lightgrey;
}

div#promo3img{
	margin: 580px 760px;
}

div#promo3titulo{
	width: 200px;
	margin: -780px 330px;
	background-color: transparent;
}

div#promo3des{
	width: 250px;
	margin: 820px 330px;
	background-color: transparent;
}



div#promo4cuadro{
	width: 900px;
	height: 300px;
	margin: -670px 200px;
	background-color: white;	

}

div#promo4cuadro:hover{
	background-color: lightgrey;
}

div#promo4img{
	margin: 420px 760px;
}

div#promo4titulo{
	width: 200px;
	margin: -620px 330px;
	background-color: transparent;
}

div#promo4des{
	width: 250px;
	margin: 670px 330px;
	background-color: transparent;
}
div#pie-4{
	background-color: white;
	width: all;
	height: 170px;
	margin: -500px 70px;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	border: 0px solid #000000;
}
div#red1-4{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 400px 125px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red1-4:hover{
	background-color: #3D3530;
}

div#red2-4{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: -470px 276px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
}

div#red2-4:hover{
	background-color: #3D3530;
}

div#red3-4{
	background-color: lightgrey;
	width: 70px;
	height: 70px;
	display: flex;	
	margin: 400px 427px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 7px none #000000;
	}

div#red3-4:hover{
	background-color: #3D3530;
}

div#facebook-4{
	margin: -450px 150px;
}
div#gmail-4{
	margin: 430px 300px;
}
div#twitter-4{
	margin: -460px 450px;
}
div#nombre-4{
	width: 600px;
	height: 20px;
	margin: 400px 600px;
	background-color: transparent;
}
div#direccion-4{
	width: 600px;
	height: 20px;
	margin: -420px 900px;
	background-color: transparent;
}
